<!DOCTYPE html>
<html>
  <head>
    <title>FilmStalker - About</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel='icon' href='./img/favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
<body>
  <%- include('../partials/navHome') %>

  <content>
    <div class="about-container">
      <h1><i class="material-icons">info</i>About Us</h1>
        <h2>Our vision</h2>
        <p>Film Stalker aims to assist film lovers into getting closer to their favourite movies by making it simple to visit shooting locations and sets.</p>
        <h2>Why are we doing this?</h2>
        <p>We do this to remove the obstacles that have to be overcome when planning a trip. FilmStalker removes the usual hassle and plans your trip for you in no time.</p>
        <h2>What makes us different?</h2>
        <p>FilmStalker allows you to select your favourite movie, find the filming locations then shows you travel options. By car and by plane.</p>


    </div>
  </content>
  <%- include('../partials/footer') %>
</body>
<!--A Script with a space to fix the 
  chrome transition bug when loading a page-->
  <script> </script>
</html>

