<!DOCTYPE html>
<html>
  <head>
    <title>FilmStalker - About</title>
    <link rel="stylesheet" href="../css/donate.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel='icon' href='../favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
</head>
  
<body> 
    <div class="Form-container">
        <h1>Help us sustain the platform with a kindful donation</h1>
    

<button class="enableEthereumButton btn">Enable Ethereum</button>
    <div id="Donate-wrapper">
        <input type="text" id="ethInput">
         <button id="Metamask-button-box">
        <p>Donate us </p>
        <img src="../img/metamaskpng.png">
        </button>
     </div>
   
 </div>
</body>
  <script type="text/javascript"> 
    var web3 = new Web3(Web3.givenProvider || "ws://localhost:8545");
 
    const ethereumButton = document.querySelector('.enableEthereumButton');
    const sendEthButton = document.querySelector('#Metamask-button-box');
    let ethAmount = '';
    let accounts = [];


//Sending Ethereum to an address
sendEthButton.addEventListener('click', () => {
  ethereum
    .request({
      
      method: 'eth_sendTransaction',
      params: [
        {
          from: accounts[0],
          to: '0x78b5Be40d3E247037dBB61f9c2A0b8aa0A676547',
          value: ethAmount,
          gasPrice: '0x09184e72a000',
          gas: '0x2710',
        },
      ],
    })
    .then((txHash) => console.log(txHash))
    .catch((error) => console.error);
});

ethereumButton.addEventListener('click', () => {
  getAccount();
  getValue();
});

//Get account from metamask
async function getAccount() {
  accounts = await ethereum.request({ method: 'eth_requestAccounts' });
}
//Gets the user input value
async function getValue() {
    let userInput = String(document.getElementById('ethInput').value);
    ethAmount ='0x' + parseInt(web3.utils.toWei( userInput, 'ether')).toString(16);
    console.log(userInput);
    console.log(ethAmount);
}
//Check if web3 and metamask are installed    
sendEthButton.addEventListener('click', function() {
  if (typeof web3 !== 'undefined') {
    console.log('web3 is enabled')
    if (web3.currentProvider.isMetaMask === true) {
      console.log('MetaMask is active')
    } else {
      console.log('MetaMask is not available')
      var a = window.open('https://metamask.io/','_blank');
    }
  } else {
    console.log('web3 is not found, please do npm install Web3')
  }
})
      
  </script>
</body>

</body>