<!DOCTYPE html>
<html>
  <head>
    <title>FilmStalker - Donate</title>
    <link rel="stylesheet" href="../css/donate.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel='icon' href='./img/favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
   
    </head>
 
<body>
    <%- include('../partials/navHome') %> 
    <main>
        
    <div id="Title">
       <h1>Help us sustain the platform with a kindful Ethereum donation using Metamask</h1> 
    </div>
    
    <div class="Form-container">
        <div id="account-status">
           <h3>Account:  <span class="showAccount">None</span></h3><span id=connected-circle></span> 
           <button class="connectMetamask btn">Connect Metamask</button>
        </div>
    </div>
        
    
<div id="input-container">
    <input type="text"  id="ethInput" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
    </div>

    <div id="Donate-wrapper">
            
         <button id="Metamask-button-box">
            <p>Donate us </p>
        <img src="../img/metamaskpng.png">
        </button>
     </div>
   </main>
    <%- include('../partials/footer') %> 
</body>
 <script src="../js/DonatePage/donate.js"></script>
</html>