<!DOCTYPE html>
<html>
  <head>
    <title>FilmStalker - About</title>
    <link rel="stylesheet" href="../css/donate.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel='icon' href='../favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
<body>

<b1>Help sustain our proyect by donating below</b1>
<div id="Metamask-Donate-Box">
    <b1>Help sustain our proyect by donating below</b1>
</div>

</body>