<!DOCTYPE html>
<html>
  <head>
    <title>FilmStalker - Home</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/error.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="styleshet" href="./css/normalize.min.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon'>
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
<body>
    <main>
        <div id="wrapper-404">
            <img src="./img/computer-dead.png" alt="Dead Computer">
            <p id="wrapper-404-title">44&#216;</p>
            <p id="wrapper-404-message">Ooops, something broke...</p>
            <div id="error-button-wrappers">
                <a id="error-button-1" href="/index">Home</a>
               <a id="error-button-2" href="/contact">Report the error</a>
            </div>
        </div>
        
    </main>
    
</body>
    <!--A Script with a space to fix the 
  chrome transition bug when loading a page-->
<script> </script>
    
</html>
