<!DOCTYPE html>

<html>
    <head>
        <title>FilmStalker - Log in</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/logIn.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="styleshet" href="../css/normalize.min.css">
        <link rel='icon' href='../favicon.ico' type='image/x-icon'>	
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

    <body>
      <%- include('../partials/navApp') %>  
        <div class="container">
            <form class="form" action="/doResetPassword" id="login" method="POST">
                <h1 class="formTitle"><i class="material-icons">login</i>Login</h1>
                <div class="formInput">
                    <input type="text" class="form__input" autofocus placeholder="Username" name="username">
                </div>
                <div class="formInput">
                    <input type="password" class="form__input" autofocus placeholder="Reset Password key" name="resetkey">
                </div> 
                <div class="formInput">
                    <input type="password" class="form__input" autofocus placeholder="NewPassword" name="newpassword">
                </div> 
                <button class="formButton" type="submit">Set New Password</button>
            </form> 
        </div>

        <%- include('../partials/footer') %>
        <script src="../js/login_action.js "></script>
    </body>
    <!--A Script with a space to fix the 
  chrome transition bug when loading a page-->
<script> </script>
</html> 