<!DOCTYPE html>

<html>
    <head>
        <title>FilmStalker - Sign Up</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/signup.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="styleshet" href="../css/normalize.min.css">
        <link rel='icon' href='../favicon.ico' type='image/x-icon'>	
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

    <body>
      <%- include('../partials/navApp') %>
        <div class="container">
            <% if(!(typeof xssFound == 'undefined') && xssFound == true){ %>
                <h2>XSS Found</h2>
                <% } %>
            <% if(!(typeof usernameExists == 'undefined') && usernameExists == true){ %>
                <h2>username taken</h2>
                <% } %>
            <% if(!(typeof emailExists == 'undefined') && emailExists == true){ %>
                <h2>email taken</h2>
                <% } %>
            <form class="form" action="/adduser" id="login" method="POST">
                <h1 class="formTitle"><i class="material-icons">how_to_reg</i>Sign Up</h1>
                <div class="formInput">
                    <input type="text" class="form__input" autofocus placeholder="Email" name="email">
                </div>
                <div class="formInput">
                    <input type="text" class="form__input" autofocus placeholder="Username" name="username">
                </div>
                <div class="formInput">
                    <input type="text" class="form__input" autofocus placeholder="PostalCode" name="postcode">
                </div> 
                <div class="formInput">
                    <input type="password" class="form__input" autofocus placeholder="Password" name="password">
                </div> 
                <div class="formInput">
                    <input type="password" class="form__input" autofocus placeholder="Confirm Password">
                </div> 
                <button class="formButton" type="submit">Sign up</button>
            </form> 
        </div>
        <%- include('../partials/footer') %>
        <script src="../js/login_action.js "></script>
    </body>
    <!--A Script with a space to fix the 
  chrome transition bug when loading a page-->
<script> </script>
</html> 