body a[href="mystalks.html"] li{
    color:tomato;
  }
  
#nav-links{
    right: 300px;
  }

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  background-color: dodgerblue;
}

button {
  background-color: inherit;
  border: none;
}