<footer>
  <div class="footer-content">
    <a href="/"><li>Home</li></a>
    <a href="/about"><li>About</li></a>
    <a href="/contact"><li>Contact</li></a>
    <a href="/donate"><li>Donate</li></a>
  </div>
  <div class="footer-contact-form">
    <form action='/footerForm' method="POST">
      <label for="email">Email</label>
      <input type="text" id="lname" name="email" placeholder="Your email...">

      <label for="subject">Message</label>
      <textarea id="text" name="subject" placeholder="Write something.." style="height:100px"></textarea>

      <input type="submit" value="Submit ✈">
    </form>
  </div>
  <div class="footer-media">
    <a href="#"><img src="./img/facebook.png" alt="facebook"></a>
    <a href="#"><img src="./img/twitter.png" alt="twitter"></a>
    <a href="#"><img src="./img/instagram.png" alt="instagram"></a>
    <a href="#"><img src="./img/mail.png" alt="mail"></a>
  </div>

</footer>