<nav role='navigation'>
  <div class="desktop-nav">
      <a class="logo" href="/"><img src="../img/Logo.png" alt="logo"></a>
    <ul id="nav-links">
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/contact"><li>Contact&nbsp;Us</li></a>
      <a id="nav-launchapp" href="/map"><li>Launch&nbsp;App&nbsp;↗</li></a> 
    </ul>
  </div>
  <div id="menuToggle">
  
    <input type="checkbox" />
    
    <!--To make the hamburger-->
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="/about"><li>About</li></a>
      <a href="/contact"><li>Contact&nbsp;Us</li></a>
      <div id="menu-launchapp">
        <a  href="/map"><li>Launch&nbsp;App&nbsp;&#x2197;</li></a> 
        </div>
    </ul>
  </div>
</nav>
