<!DOCTYPE html>
<html>
  <head>
    <title>FilmStalker - About</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/normalize.min.css">
    <link rel='icon' href='../favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  </head>
<body>
<nav role='navigation'>
  <div class="desktop-nav">
    <img src="../img/Logo.png" class="logo" alt="logo">
    <ul id="nav-links">
        <a href="../index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="contact.html"><li>Contact&nbsp;Us</li></a>
      <a id="nav-launchapp" href="map.html"><li>Launch&nbsp;App&nbsp;↗</li></a> 
    </ul>
  </div>
  <div id="menuToggle">
  
    <input type="checkbox" />
    
    <!--To make the hamburger-->
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a href="../index.html"><li>Home</li></a>
      <a href="about.html"><li>About</li></a>
      <a href="contact.html"><li>Contact&nbsp;Us</li></a>
      <div id="menu-launchapp">
        <a  href="map.html"><li>Launch&nbsp;App&nbsp;&#x2197;</li></a> 
        </div>
    </ul>
  </div>
</nav>

  <content>
    <div class="about-container">
      <h1><i class="material-icons">info</i>About Us</h1>
        <h2>Our vision</h2>
        <p>Film Stalker aims to assist film lovers into getting closer to their favourite movies by making it simple to visit shooting locations and sets.</p>
        <h2>Why are we doing this?</h2>
        <p>We do this to remove the obstacles that have to be overcome when planning a trip. FilmStalker removes the usual hassle and plans your trip for you in no time.</p>
        <h2>What makes us different?</h2>
        <p>FilmStalker allows you to select your favourite movie, find the filming locations then shows you travel options. By car and by plane.</p>


    </div>
  </content>
  <footer>
    <div class="footer-content">
      <a href="../index.html"><li>Home</li></a>
      <a href="about.html"><li>About</li></a>
      <a href="contact.html"><li>Contact</li></a>
    </div>
    <div class="footer-contact-form">
      <form action="contact_response.php">
      <label for="email">Email</label>
      <input type="text" id="lname" name="email" placeholder="Your email...">
  
      <label for="subject">Message</label>
      <textarea id="text" name="subject" placeholder="Write something.." style="height:100px"></textarea>
  
      <input type="submit" value="Submit ✈">
  
    </form>
  </div>
    <div class="footer-media">
      <a href="#"><img src="../img/facebook.png" alt="facebook"></a>
      <a href="#"><img src="../img/twitter.png" alt="twitter"></a>
      <a href="#"><img src="../img/instagram.png" alt="instagram"></a>
      <a href="#"><img src="../img/mail.png" alt="mail"></a>
    </div>
  </footer>
</body>
<!--A Script with a space to fix the 
  chrome transition bug when loading a page-->
  <script> </script>
</html>

