#wrapper-404{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    
}
#wrapper-404-title {
    text-align:center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 120px;
    margin:0;
}

#wrapper-404-message{
    font-family: 'Dela Gothic One', cursive;
    margin:0;
}
#computer-wrapper {
    background-image: url(./img/computer-frame.png);
    position: relative;
    background-position: center;
    background-size: 195px;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}
@-webkit-keyframes faceAnimation {
     0% {opacity: 0;}
   8.33% {opacity: 1;}
  16.66% {opacity: 0;}

     25% {opacity: 0;}
  33.32% {opacity: 1;}
  41.65% {opacity: 0;}

     50% {opacity: 0;}
  58.31% {opacity: 1;}
  66.64% {opacity: 0;}

     75% {opacity: 0;}
   83.3% {opacity: 1;}
  91.63% {opacity: 0;}
    100% {opacity: 0;}
}

#computer-wrapper #computer-face-img{
    position:absolute;
    display:block;
    top: 20%;
    margin:auto;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-animation: faceAnimation 3.5s  infinite;
    -moz-animation: faceAnimation 3.5s  infinite;
    -o-animation: faceAnimation 3.5s  infinite;
    
}


#error-button-wrappers a{
  bottom: 0;
  right: 0;
  transition: 1s;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
#error-button-wrappers a:hover {
   opacity:0.5;
}
#error-button-wrappers{
    margin-top:12px;
}
